@model Swampnet.Evl.Web.Models.HomeViewModels.HomeViewModel
<table class="table">
    <thead>
        <tr>
            <th>
                Timestamp
            </th>
            <th>
                Summary
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Results)
        {
            <tr class="@("evt-" + item.Category)">
                <td>
                    @TimeZoneInfo.ConvertTime(item.TimestampUtc, TimeZoneInfo.Utc, Model.TimeZone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Summary)
                </td>
                <td>
                    @foreach (var tag in item.Tags.OrderBy(t => t.ToUpper()))
                    {
                        <span class="evt-tag">@tag.ToUpper()</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
